.Home {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .intro-header {
    font-size: 64px;
    font-weight: 300;
    margin-top: -27px;
    margin-bottom: .5em;
    line-height: 1.1;
  }

  h3 {
    margin-top: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
  }
}