.Header {
  padding: 1em 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  .img-container {
    flex: 1;
    display: flex;
    img {
      border-radius: 50%;
    }
  }
  
  h1 {
    flex-grow: 0;
    font-weight: 400;
    text-align: center;

    & > * {
      text-decoration: none;
      color: whitesmoke;
    }
  }

  nav {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;

    ul {
      list-style: none;
      padding-left: 0;
      font-size: 24px;
      
      li {
        display: inline-block;
        padding: 0 1em;
        
        a {
          text-decoration: none;
          color: inherit;
        }

        @media (orientation: portrait) {
          padding: 0;
        }
      }
      @media (orientation: portrait) {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: max-content;
        padding: 0;
      }
    }
  }

}