.Header {
  padding: 1em 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  .img-container {
    flex: 1;
    display: flex;
    img {
      border-radius: 50%;
    }
  }
  
  h1 {
    flex-grow: 0;
    font-weight: 400;
    & > * {
      text-decoration: none;
      color: whitesmoke;
    }
  }

  nav {
    flex: 1;
    text-align: right;

    ul {
      list-style: none;
      padding-left: 0;
      
      li {
        display: inline-block;
        padding: 0 1em;
        
        a {
          text-decoration: none;
          color: inherit;
          font-size: 24px;
        }
      }
    }
  }

}
