@use '../../theme' as *;

.Footer {
  background: linear-gradient(to right, $accent-color-1, $accent-color-2);
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  // ul with social media and email links
  .Footer__contact-info {
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: .2em;
      position: relative;
      
      a:hover::before {
        content: attr(data-tooltip);
        position: absolute;
        font-size: 1em;
        padding: 0 .2em;
        top: -1.1em;
        right: calc(100% - 2.5em);
        width: max-content;
        color: black;
        opacity: 0;
        background: transparent;
        animation: fade-in 50ms linear forwards;
      }
      
      a > * {
        color: $bg-color;
        font-size: 36px;
      }
    }
  }

  p {
    margin: 1em;
    color: $bg-color;
    text-align: center;
    
    a:first-child {
      color: inherit;
      text-decoration: none;
    }
  }
  
}

@keyframes fade-in {
  100% { opacity: 1 }
}