// ul with social media and email links
.Footer__contact-info {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    padding: .2em;
    position: relative;

    a:hover::before {
      content: attr(data-tooltip);
      position: absolute;
      font-size: 14px;
      padding: 0 .2em;
      top: -1em;
      right: calc(100% - 29px);
      width: max-content;
      color: black;
      opacity: 0;
      background: transparent;
      animation: fade-in 100ms linear forwards;
    }
    
    a > * {
      font-size: 27px;
    }
  }
}

@keyframes fade-in {
  100% { opacity: 1 }
}