@use "./theme" as *;
@use "./components/Header/Header";
@use "./components/AboutMe/AboutMe";

.App {
  // color: $text-light;
  font-family: $font-main;
  text-align: center;
  padding: 0 2em;
}

// ul with social media and email links
.Footer__contact-info {
  list-style: none;
  padding-left: 0;
}

body {
  margin: 0;
  height: 100vh;
  // background: linear-gradient($bg-dark, $bg-medium-dark);
}

html {
  padding: 0;
}