@use "./theme" as *;
@use "./components/Header/Header";
@use "./components/AboutMe/AboutMe";
@use "./components/Footer/Footer";
@use "./components/ResumeSection/ResumeSection";
@use "./components/Pong/Pong";
@use "./components/Home/Home";

$main-width: 60ch;

.App {
  color: whitesmoke;
  font-family: $font-main;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #021631;
  line-height: 1.6;
  
  main {
    flex: 1;
    position: relative;
    max-width: 8.5in;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 500;
      font-size: 2em;
    }

    @media (orientation: portrait) {
      padding: 0 1em;
    }
  }
}

body {
  margin: 0;
}

html {
  padding: 0;
}