@use "./theme" as *;

.App {
  color: $text-light;
  font-family: $font-main;
  text-align: center;
}

.Header__h1 {
  font-weight: 400;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient($bg-dark, $bg-medium-dark);
}

html {
  padding: 0;
}